<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chotot auto post</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="scripts/data.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
	<style type="text/css">
	.form-group {
		margin-bottom: 5px;
	}
	.uppercase {
		text-transform: uppercase;
	}
	.blue {
		color: blue;
	}
	.red {
		color: red;
	}
	.post-item {
		cursor: pointer;
	}
	.post-item:hover {
		background: rgb(240, 240, 240);
	}
	.active {
		background: rgb(230, 230, 230);
	}
	</style>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl" class="col-md-8">
		<h2>Quản lý nội dung</h2>
		<div class="col-md-3">
			<div class="post-item" ng-class="{'active':p == post}" ng-repeat="p in post_list" ng-click="selectPost(p)">
				<div style="margin: 5px;">
					<div class="uppercase" ng-class="{'blue':p.posted, 'red':!p.posted}">{{p.subject === "" ? "(No subject)" : p.subject}}</div>
					<div>{{p.create_time | time}}</div>
				</div>
			</div>
		</div>
		<div class="form-horizontal col-md-9">
			<h3 style="color:gray">Thông tin liên hệ</h3>
			<div class="form-group">
				<label class="col-sm-3 control-label">SDT:</label>
				<div class="col-sm-9">
					<input class="form-control" ng-model="post.phone">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Mật khẩu:</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" ng-model="post.pass">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Tên:</label>
				<div class="col-sm-9">
					<input class="form-control" ng-model="post.name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">E-mail:</label>
				<div class="col-sm-9">
					<input class="form-control" ng-model="post.email">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Địa chỉ:</label>
				<div class="col-sm-9">
					<input class="form-control" ng-model="post.seller_addr">
				</div>
			</div>
			<h3 style="color:gray">Nội dung tin</h3>
			<div class="form-group">
				<label class="col-sm-3 control-label">Thời gian post:</label>
				<div class="col-sm-9">
					<input class="form-control" ng-model="post.post_time">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Vùng:</label>
				<div class="col-sm-9">
					<select ng-change="regionSelect()" class="form-control" ng-options="region.id as region.name.vi for region in regions | orderBy:'name.vi'" ng-model="post.region">
						<option value="">«Chọn vùng»</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Tỉnh:</label>
				<div class="col-sm-9">
					<select class="form-control" ng-options="province.id as province.name for province in provinces | orderBy:'name'" ng-model="post.area">
						<option value="">«Chọn tỉnh</option>
					</select>
				</div>
			</div>			
			<div class="form-group">
				<label class="col-sm-3 control-label">Chuyên mục:</label>
				<div class="col-sm-9">
					<select class="form-control" ng-options="categ.id as categ.name group by categ.parentName for categ in categs | orderBy:'parentName'" ng-model="post.category_group">
						<option value="">«Chọn danh mục»</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Bạn là:</label>
				<div class="col-sm-9">
					<label class="radio-inline">
						<input type="radio" ng-model="post.seller_type" name="youare" value="p_ad"> Cá nhân
					</label>
					<label class="radio-inline">
						<input type="radio" ng-model="post.seller_type" name="youare" value="c_ad"> Công ty
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Bạn đăng tin:</label>
				<div class="col-sm-9">
					<label class="radio-inline">
						<input type="radio" ng-model="post.type" name="posttype" value="rs"> Cần bán/Tìm người/Cung cấp
					</label>
					<label class="radio-inline">
						<input type="radio" ng-model="post.type" name="posttype" value="rk"> Cần mua/Tìm việc/Cần tìm
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-9">
					<label class="radio-inline">
						<input type="radio" ng-model="post.type" name="posttype" value="ru"> Cho thuê
					</label>
					<label class="radio-inline">
						<input type="radio" ng-model="post.type" name="posttype" value="rh"> Cần thuê
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Tình trạng:</label>
				<div class="col-sm-9">
					<label class="radio-inline">
						<input type="radio" ng-model="post.condition" name="condition" value="condition_ad_used"> Đã sử dụng
					</label>
					<label class="radio-inline">
						<input type="radio" ng-model="post.condition" name="condition" value="condition_ad_new"> Mới
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Năm đăng ký:</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="post.regdate" ng-options="reg.value as reg.label for reg in regdates">
						<option value="">«Chọn năm đăng ký»</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Số Km đã đi:</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="post.mileage" ng-options="mil.value as mil.label for mil in mileages">
						<option value="">«Chọn số km đã đi»</option>					 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Hộp số:</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="post.gearbox" ng-options="gear.value as gear.label for gear in gearboxes">
						<option value="">«Chọn hộp số»</option>					 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Loại nhiên liệu:</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="post.fuel" ng-options="fuel.value as fuel.label for fuel in fuels">
						<option value="">«Chọn loại nhiên liệu»</option>					 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Địa chỉ:</label>
				<div class="col-sm-9">
					<input class="form-control" ng-model="post.address">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Diện tích:</label>
				<div class="col-sm-9">
					<input class="form-control" ng-model="post.size">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Số phòng:</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="post.rooms" ng-options="room.value as room.label for room in roomses">
						<option value="">«Chọn»</option>					 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Tựa đề:</label>
				<div class="col-sm-9">
					<input class="form-control" ng-model="post.subject">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Nội dung:</label>
				<div class="col-sm-9">
					<input class="form-control" ng-model="post.body">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Giá:</label>
				<div class="col-sm-9">
					<input class="form-control" ng-model="post.price">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Quy trình:</label>
				<div class="col-sm-9">
					<input class="form-control" ng-model="post.payment_delivery">
				</div>
			</div>
			<!--  -->
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 1:</label>
				<div class="col-sm-9">
					<input class="form-control" type="file" accept='image/*' file="post.image_0">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 2:</label>
				<div class="col-sm-9">
					<input class="form-control" type="file" accept='image/*' file="post.image_1">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 3:</label>
				<div class="col-sm-9">
					<input class="form-control" type="file" accept='image/*' file="post.image_2">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 4:</label>
				<div class="col-sm-9">
					<input class="form-control" type="file" accept='image/*' file="post.image_3">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 5:</label>
				<div class="col-sm-9">
					<input class="form-control" type="file" accept='image/*' file="post.image_4">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 6:</label>
				<div class="col-sm-9">
					<input class="form-control" type="file" accept='image/*' file="post.image_5">
				</div>
			</div>
			<br/>
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-9">
					<button type="button" class="btn btn-primary" ng-click="done()">Hoàn thành</button>
					<button type="button" class="btn btn-primary" ng-click="reset()">Tạo mới</button>
				</div>
			</div>
			<br/>
		</div>
	</div>
</body>
</html>