<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chotot auto post</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>

	<script type="text/javascript" src="scripts/data.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
	<style type="text/css">
	.form-group {
		margin-bottom: 5px;
	}
	.uppercase {
		text-transform: uppercase;
	}
	.blue {
		color: blue;
	}
	.red {
		color: red;
	}
	.post-item {
		cursor: pointer;
	}
	.post-item:hover {
		background: rgb(240, 240, 240);
	}
	.active {
		background: rgb(230, 230, 230);
	}
	</style>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<div style="min-height: 50px;">
			<ul class="nav nav-tabs">
				<li role="presentation" ng-class="{active : acc==account}" ng-repeat="acc in account_list" ng-click="accountSelect(acc)">
					<a href="#" style="padding-left: 30px; padding-right: 30px;">{{acc.phone}}</a>
				</li>
			</ul>
			<button style="position: absolute; top: 3px; right: 5px;" type="button" class="btn btn-default glyphicon" data-toggle="modal" data-target="#myModal" ng-click="newAccount()">+</button>
			<button style="position: absolute; top: 3px; right: 50px;" type="button" class="btn btn-default glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModal" ng-click="newAccount(account)"></button>
		</div>

		<div class="col-md-3">
			<button type="button" class="btn btn-primary" ng-click="reset()">Tạo mới</button>
			<div class="post-item" style="position: relative; border-bottom: 1px solid gray; padding: 7px;" ng-class="{'active':p == post}" ng-repeat="p in post_list">
				<div ng-click="selectPost(p)" style="margin-right: 20px;" >
					<div class="uppercase" ng-class="{'blue':p.posted, 'red':!p.posted}">{{p.subject === "" ? "(No subject)" : p.subject}}</div>
					<div>{{p.create_time | time}}</div>
				</div>
				<button style="position: absolute; top: 5px; right: 5px;" type="button" class="btn btn-default btn-xs" ng-click="delete(p._id)">X</button>
				<button style="position: absolute; bottom: 5px; right: 5px;" type="button" class="btn btn-default btn-xs" ng-click="clone(p)">C</button>
			</div>
		</div>
		<div class="form-horizontal col-md-9" style="overflow: auto; height: calc(100vh - 60px);">
			<div class="form-group">
				<label class="col-sm-3 control-label">Thời gian post:</label>
				<div class="col-sm-9">
					<div>
						<label class="btn btn-primary" ng-class="{active: post.post_times[0].m}" ng-click="setPostNow()" style="border-radius: 0px">
							Đăng ngay
						</label>
						<label class="btn btn-primary" ng-class="{active: t.p}" style="border-radius: 0px" ng-repeat="t in post.post_times" ng-hide="!t.m || $index == 0">
							{{t.t | stime}}
						</label>						
						<label class="btn btn-primary" style="border-radius: 0px" data-toggle="modal" data-target="#timePost">
							...
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Chuyên mục:</label>
				<div class="col-sm-9">
					<select class="form-control" ng-options="categ.id as categ.name group by categ.parentName for categ in categs | orderBy:'parentName'" ng-model="post.category_group" ng-change="category_groupSelect()">
						<option value="">«Chọn danh mục»</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Vùng:</label>
				<div class="col-sm-9">
					<select ng-change="regionSelect()" class="form-control" ng-options="region.id as region.name.vi for region in regions | orderBy:'name.vi'" ng-model="post.region">
						<option value="">«Chọn vùng»</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Bạn là:</label>
				<div class="col-sm-9">
					<label class="radio-inline">
						<input ng-change="done()" type="radio" ng-model="post.seller_type" name="youare" value="p_ad"> Cá nhân
					</label>
					<label class="radio-inline">
						<input ng-change="done()" type="radio" ng-model="post.seller_type" name="youare" value="c_ad"> Công ty
					</label>
				</div>
			</div>
			<div class="form-group" ng-show="postTypes.length > 0">
				<label class="col-sm-3 control-label">Bạn đăng tin:</label>
				<div class="col-sm-9">
					<label class="radio-inline" ng-repeat="pt in postTypes">
						<input ng-change="done()" type="radio" ng-model="post.type" name="posttype" value="r{{pt.key}}"> {{pt.label}}
					</label>
				</div>
			</div>
			<div class="form-group" ng-show="'area' | show:post">
				<label class="col-sm-3 control-label">Tỉnh:</label>
				<div class="col-sm-9">
					<select ng-change="done()" class="form-control" ng-options="province.id as province.name for province in provinces | orderBy:'name'" ng-model="post.area">
						<option value="">«Chọn tỉnh</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Tình trạng:</label>
				<div class="col-sm-9">
					<label class="radio-inline">
						<input ng-change="done()" type="radio" ng-model="post.condition" name="condition" value="condition_ad_used"> Đã sử dụng
					</label>
					<label class="radio-inline">
						<input ng-change="done()" type="radio" ng-model="post.condition" name="condition" value="condition_ad_new"> Mới
					</label>
				</div>
			</div>
			<div class="form-group" ng-show="'regdate' | show:post">
				<label class="col-sm-3 control-label">Năm đăng ký:</label>
				<div class="col-sm-9">
					<select ng-change="done()" class="form-control" ng-model="post.regdate" ng-options="reg.value as reg.label for reg in regdates">
						<option value="">«Chọn năm đăng ký»</option>
					</select>
				</div>
			</div>
			<div class="form-group" ng-show="'mileage' | show:post">
				<label class="col-sm-3 control-label">Số Km đã đi:</label>
				<div class="col-sm-9">
					<select ng-change="done()" class="form-control" ng-model="post.mileage" ng-options="mil.value as mil.label for mil in mileages">
						<option value="">«Chọn số km đã đi»</option>					 
					</select>
				</div>
			</div>
			<div class="form-group" ng-show="'gearbox' | show:post">
				<label class="col-sm-3 control-label">Hộp số:</label>
				<div class="col-sm-9">
					<select ng-change="done()" class="form-control" ng-model="post.gearbox" ng-options="gear.value as gear.label for gear in gearboxes">
						<option value="">«Chọn hộp số»</option>					 
					</select>
				</div>
			</div>
			<div class="form-group" ng-show="'fuel' | show:post">
				<label class="col-sm-3 control-label">Loại nhiên liệu:</label>
				<div class="col-sm-9">
					<select ng-change="done()" class="form-control" ng-model="post.fuel" ng-options="fuel.value as fuel.label for fuel in fuels">
						<option value="">«Chọn loại nhiên liệu»</option>					 
					</select>
				</div>
			</div>
			<div class="form-group" ng-show="'address' | show:post">
				<label class="col-sm-3 control-label">Địa chỉ:</label>
				<div class="col-sm-9">
					<input ng-blur="done()" class="form-control" ng-model="post.address">
				</div>
			</div>
			<div class="form-group" ng-show="'size' | show:post">
				<label class="col-sm-3 control-label">Diện tích:</label>
				<div class="col-sm-9">
					<input ng-blur="done()" class="form-control" ng-model="post.size">
				</div>
			</div>
			<div class="form-group" ng-show="'rooms' | show:post">
				<label class="col-sm-3 control-label">Số phòng:</label>
				<div class="col-sm-9">
					<select ng-change="done()" class="form-control" ng-model="post.rooms" ng-options="room.value as room.label for room in roomses">
						<option value="">«Chọn»</option>					 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Tựa đề:</label>
				<div class="col-sm-9">
					<input ng-blur="done()" class="form-control" ng-model="post.subject">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Nội dung:</label>
				<div class="col-sm-9">
					<input ng-blur="done()" class="form-control" ng-model="post.body">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Giá:</label>
				<div class="col-sm-9">
					<input ng-blur="done()" class="form-control" ng-model="post.price">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Quy trình:</label>
				<div class="col-sm-9">
					<input ng-blur="done()" class="form-control" ng-model="post.payment_delivery">
				</div>
			</div>
			<!--  -->
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 1:</label>
				<div class="col-sm-9">
					<input class="form-control" placeholder="Đường dẫn không được chứa các ký tự đặc biệt hoặc tiếng việt có dấu" ng-model="post.image_0">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 2:</label>
				<div class="col-sm-9">
					<input class="form-control" placeholder="Đường dẫn không được chứa các ký tự đặc biệt hoặc tiếng việt có dấu" ng-model="post.image_1">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 3:</label>
				<div class="col-sm-9">
					<input class="form-control" placeholder="Đường dẫn không được chứa các ký tự đặc biệt hoặc tiếng việt có dấu" ng-model="post.image_2">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 4:</label>
				<div class="col-sm-9">
					<input class="form-control" placeholder="Đường dẫn không được chứa các ký tự đặc biệt hoặc tiếng việt có dấu" ng-model="post.image_3">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 5:</label>
				<div class="col-sm-9">
					<input class="form-control" placeholder="Đường dẫn không được chứa các ký tự đặc biệt hoặc tiếng việt có dấu" ng-model="post.image_4">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Hình 6:</label>
				<div class="col-sm-9">
					<input class="form-control" placeholder="Đường dẫn không được chứa các ký tự đặc biệt hoặc tiếng việt có dấu" ng-model="post.image_5">
				</div>
			</div>
			<br/>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="cancelCreateAccount()">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Thông tin liên hệ</h4>
					</div>
					<div class="modal-body form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">SDT:</label>
							<div class="col-sm-10">
								<input class="form-control" ng-model="account.phone">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Mật khẩu:</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" ng-model="account.pass">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Tên:</label>
							<div class="col-sm-10">
								<input class="form-control" ng-model="account.name">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">E-mail:</label>
							<div class="col-sm-10">
								<input class="form-control" ng-model="account.email">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Địa chỉ:</label>
							<div class="col-sm-10">
								<input class="form-control" ng-model="account.seller_addr">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteAccount(account._id)">Xóa tài khoản</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateAccount()">Lưu thay đổi</button>
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelCreateAccount()">Bỏ qua</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="timePost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="done()">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Thời gian đăng bài</h4>
					</div>
					<div class="modal-body form-horizontal">
						<div style="margin-left: 10px;">
							<label ng-hide="$index==0" class="btn btn-primary" ng-class="{active: e.m}" style="border-radius: 0px" ng-repeat="e in post.post_times">
								<input style="width: 0px" type="checkbox" ng-model="e.m">{{e.t | stime}}
							</label>
						</div>
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>